$color-black: #000000;
$color-white: #ffffff;
$color-outer-space: #252e30;
$color-shark: #191f21;
$color-abbey: #4b5456;
$color-gray: #919191;
$color-alto: #dadada;
$color-shamrock: #2ecc71;
$color-nevada: #566366;
$color-desert-storm: #f2f2f1;
$color-silver: #cccccc;
$color-silver-variant: #c1c1c1;
$color-wild-sand: #f5f5f5;
$color-white-variant: #fefefe;
