#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all 0.5s;
    z-index: 9999;
    padding: 0px 15px;
    background: #040b14;
    .profile {
        img {
            margin: 15px auto;
            display: block;
            width: 120px;
            border: 8px solid #2c2f3f;
        }
        h1 {
            font-family: "Poppins", sans-serif;
            font-size: 1.5rem;
            color: #f8f9fa;
            font-weight: 600;
            text-align: center;
            a {
                font-family: inherit;
                font-size: inherit;
                color: #fff;
                &:hover {
                    color: #fff;
                    text-decoration: none;
                }
            }
        }
    }
    .social-links {
        a {
            font-size: 1.2rem;
            display: inline-block;
            background: #212431;
            color: #fff;
            line-height: 1;
            padding: 8px 0px;
            margin-right: 4px;
            border-radius: 50%;
            text-align: center;
            width: 36px;
            height: 36px;
            transition: 0.3s;
            &:hover {
                background: #149ddd;
                color: #fff;
                text-decoration: none;
            }
        }
    }
}
.nav-menu {
    padding-top: 30px;
    ul {
        li {
            position: relative;
            white-space: nowrap;
            &.active {
                a {
                    i {
                        color: #149ddd;
                    }
                }
            }
        }
    } 
    a {
        display: flex;
        align-items: center;
        color: #a8a9b4;
        padding: 12px 15px;
        margin-bottom: 8px;
        transition: 0.3s;
        font-size: 1rem;
        i {
            font-size: 1.5rem;
            padding-right: 8px;
            color: #6f7180;
        }
        &:hover {
            text-decoration: none;
            color: #fff;
            i {
                color: #149ddd;
            }
        }
    }
}
.mobile-nav-toggle {
    position: fixed;
    right: auto;
    left: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 1.5rem;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    text-align: right;
    i {
        color: #149ddd;
    }
}
#hero-banner {
    width: 100%;
    height: 100vh;
    background: url("../Images/custom-hero-banner.jpeg") top center;
    background-size: cover;
    &:before {
        content: "";
        background: rgba(5, 13, 24, 0.6);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
    .hero-banner-container {
        position: relative;
        z-index: 2;
        min-width: 300px;
    }
    h1 {
        margin: 0 0 10px 0;
        font-size: 4rem;
        font-weight: 700;
        line-height: 70px;
        color: #fff;
    }
    p {
        color: #fff;
        margin-bottom: 50px;
        font-size: 1.6rem;
        font-family: "Poppins", sans-serif;
        span {
            color: #fff;
            padding-bottom: 4px;
            letter-spacing: 1px;
            border-bottom: 3px solid #149ddd;
        }
    }
}
// Main Section Styling
#main-section {
    margin-left: 300px;
}
section {
    padding: 60px 0px;
    overflow: hidden;
}
.section-bg {
    background: #f5f8fd;
}
.section-title {
    padding-bottom: 30px;
    h2 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #173b6c;
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background: #149ddd;
            bottom: 0;
            left: 0;
        }
    }
}
.about-wrapper {
    h3 {
        font-weight: 700;
        font-size: 1.6rem;
        color: #173b6c;
    }
    p {
        &:last-child {
            margin-bottom: 0px;
        }
    }
    ul {
        li {
            padding-bottom: 10px;
        }
        i {
            font-size: 1.25rem;
            padding-right: 2px;
            color: #149ddd;
        }
    }
}
.facts-wrapper {
    .facts-count-box {
        padding: 30px;
        p {
            font-family: "Raleway", sans-serif;
            font-size: 1rem;
            padding: 15px 0px 0px 0px;
            margin: 0px 0px 0px 60px;
            color: #122f57;
        }
        i {
            display: block;
            font-size: 44px;
            color: #149ddd;
            float: left;
        }
        span {
            font-size: 3rem;
            line-height: 40px;
            display: block;
            font-weight: 700;
            color: #050d18;
            margin-left: 60px;
        }
    }
}
.skills-wrapper {
    .progress {
        height: 50px;
        display: block;
        background: none;
        .skill {
            padding: 0;
            margin: 0 0 6px 0;
            text-transform: uppercase;
            display: block;
            font-weight: 600;
            font-family: "Poppins", sans-serif;
            color: #050d18;
            .val {
                float: right;
                font-style: normal;
            }
        }
    }
    .progress-bar-wrap {
        background: #dce8f8;
        .progress-bar {
            width: 1px;
            height: 10px;
            transition: .9s;
            background-color: #149ddd;
        }
    }
}
.resume-wrapper {
    .resume-title {
        font-size: 1.6rem;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #050d18;
    }
    .resume-item {
        padding: 0 0 20px 20px;
        margin-top: -2px;
        border-left: 2px solid #1f5297;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            border-radius: 50px;
            left: -9px;
            top: 0;
            background: #fff;
            border: 2px solid #1f5297;
        }
        h4 {
            line-height: 18px;
            font-size: 18px;
            font-weight: 600;
            text-transform: uppercase;
            font-family: "Poppins", sans-serif;
            color: #050d18;
            margin-bottom: 10px;
        }
        h5 {
            font-size: 1rem;
            background: #e4edf9;
            padding: 5px 15px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 10px;
        }
        p {
            margin-bottom: 1rem;
        }
        ul {
            padding-left: 20px;
            list-style-type: disc;
            li {
                padding-bottom: 10px;
            }
        }
    }
}
.quotes-wrapper {
    .quotes-item {
        box-sizing: content-box;
        text-align: center;
        min-height: 320px;
        p {
            font-style: italic;
            margin: 0px 15px 15px 15px;
            padding: 20px;
            background: #fff;
            position: relative;
            margin-bottom: 35px;
            border-radius: 6px;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
            &:after {
                content: "";
                width: 0;
                height: 0;
                border-top: 20px solid #fff;
                border-right: 20px solid transparent;
                border-left: 20px solid transparent;
                position: absolute;
                bottom: -20px;
                left: calc(50% - 20px);
            }
        }
        .quote-icon-left {
            display: inline-block;
            left: -5px;
            position: relative;
            color: #c3e8fa;
            font-size: 1.6rem;
        }
        .quote-icon-right {
            display: inline-block;
            right: -5px;
            position: relative;
            top: 10px;
            color: #c3e8fa;
            font-size: 1.6rem;
        }
    }
    .quote-img {
        width: 120px !important;
        border-radius: 50%;
        margin: 0 auto;
        padding: 10px;
        border: 1px solid #1f5297;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    }
    .owl-dots {
        margin-top: 10px;
        text-align: center;
    }
    .owl-dot {
        display: inline-block;
        margin: 0 5px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background-color: #ddd !important;
        &.active {
            background-color: #149ddd !important;
        }
    }
}
.travel-wrapper {
    #travel-filters {
        padding: 2px 15px;
        margin: 0 auto 35px auto;
        text-align: center;
        background-color: #fff;
        border-radius: 50px;
        li {
            cursor: pointer;
            display: inline-block;
            padding: 10px 15px 8px 15px;
            font-size: 0.95rem;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            color: #272829;
            margin-bottom: 5px;
            transition: all 0.3s ease-in-out;
            &.filter-active {
                color: #149ddd;
            }
        }
    }
    .travel-item {
        margin-bottom: 30px;
    }
    .travel-wrap {
        transition: 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        &:before {
            content: "";
            background: rgba(255, 255, 255, 0.5);
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transition: all ease-in-out 0.3s;
            z-index: 2;
            opacity: 0;
        }
        &:hover {
            .travel-links {
                opacity: 1;
                bottom: 0;
            }
        }
    }
    .travel-links {
        opacity: 1;
        left: 0;
        right: 0;
        bottom: -60px;
        z-index: 3;
        position: absolute;
        transition: all ease-in-out 0.3s;
        display: flex;
        justify-content: center;
        a {
            color: #fff;
            font-size: 28px;
            text-align: center;
            background: rgba(20, 157, 221, 0.75);
            transition: 0.3s;
            width: 50%;
            &:hover {
                background: rgba(20, 157, 221, 0.95);
            }
            + a {
                border-left: 1px solid #37b3ed;
            }
        }
    }
}
.contact-wrapper {
    .info {
        padding: 30px;
        background: #fff;
        width: 100%;
        box-shadow: 0 0 24px 2px rgba(0, 0, 0, 0.12);
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h4 {
            padding: 0 0 0 60px;
            font-size: 1.25rem;
            font-weight: 600;
            margin-bottom: 5px;
            color: #050d18;
        }
        p {
            padding: 0 0 10px 60px;
            margin-bottom: 20px;
            font-size: 0.95rem;
            color: #173b6c;
        }
        i {
            font-size: 1.25rem;
            color: #149ddd;
            float: left;
            width: 44px;
            height: 44px;
            background: #dff3fc;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            transition: all 0.3s ease-in-out;
            &:hover {
                color: #fff;
                background-color: #149ddd;
            }
        }
    }
}
.rating-wrapper {
    background: url("../Images/ratemysiteBanner.jpg");
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    // &:before {
    //     content: "";
    //     background: rgba(5, 13, 24, 0.6);
    //     position: absolute;
    //     bottom: 0;
    //     top: 0;
    //     left: 0;
    //     right: 0;
    //     z-index: 1;
    // }
    .rating-form-container {
        z-index: 2;
        h4 {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 3rem;
            letter-spacing: 1.5px;
            color: #fff;
            text-align: center;
        }
    }
    .form-layout {
        width: 65%;
        padding: 2.5rem;
        margin: 2rem auto;
        background: rgba(16, 16, 16, 0.72);
        min-height: 500px;
        h5 {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 2rem;
            color: #1ec8e9;
            text-align: center;
            line-height: 1.5;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
        p {
            font-family: 'Josefin Sans', sans-serif;
            color: #fff;
            margin: 0 0 1.5em 0;
            font-size: 1.2em;
            text-align: center;
        }
    }
    .rating-form {
        label {
            font-family: 'PT Sans', sans-serif;
            font-size: 1rem;
            color: #fff;
            &.error {
                color: #FF6347;
                font-size: 0.8rem;
            }
        }
        .form-control {
            font-family: 'Josefin Sans', sans-serif;
            font-size: 1rem;
            color: #fff;
            padding: 0.9rem 1rem;
            background: rgba(88, 88, 88, 0.08);
            border: 1px solid #848484;
            border-radius: 0px;
            outline: none;
        }
        textarea {
            min-height: 120px;
        }
        .star-rating {
            margin-bottom: 20px;
            h6 {
                font-family: 'PT Sans', sans-serif;
                font-size: 1rem;
                color: #fff;
            }
        }
        .rating-flx {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;
            .rate-left {
                font-size: 1.1em;
                letter-spacing: 1px;
                text-align: center;
                background: #1ec8e9;
                padding: 0.5em 0em;
                margin-top: 15px;
                position: relative;
                border-radius: 5px;
                color: #fff;
                flex: 0 0 25%;
                max-width: 25%;
                &:before {
                    position: absolute;
                    top: 15px;
                    right: -17px;
                    background: transparent;
                    content: "";
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 14px solid#1ec8e9;
                    transform: rotate(90deg);
                }
            }
            .rate-right{
                font-size: 1.1em;
                letter-spacing: 1px;
                text-align: center;
                background: #1ec8e9;
                padding: 0.5em 0em;
                margin-top: 15px;
                position: relative;
                border-radius: 5px;
                color: #fff;
                flex: 0 0 25%;
                max-width: 25%;
                &:before {
                    position: absolute;
                    top: 15px;
                    left: -17px;
                    background: transparent;
                    content: "";
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 14px solid #1ec8e9;
                    transform: rotate(270deg);
                }
            }
        }
    }
    .btn-review-submit {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1rem;
        text-align: center;
        min-width: 175px;
        min-height: 45px;
        text-transform: uppercase;
        color: #f5ecf1;
        border: 1px solid #696867;
        border-radius: 5px;
        background: rgba(16, 16, 16, 0.47);
        letter-spacing: 1px;
        margin-top: 15px;
    }
}
.rating { 
  border: none;
  float: left;
  flex: 0 0 45%;
  max-width: 45%;
  margin: 15px 15px 0px;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: 'boxicons';
  display: inline-block;
  content: "\ebea";
}

.rating > label { 
  color: #ddd; 
    float: right; 
    margin-right: 15px;
}
.starText {
    display: block;
    margin-left: 10px;
}
/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 
#nameError {
    font-size: 0.8rem;
    text-align: left;
    color: red;
    margin-top: 5px;
}
#starRatingError {
    font-size: 0.8rem;
    text-align: left;
    color: red;
    margin-top: 5px;
}
@media (max-width: 1199px) {
    #header {
        left: -300px;
    }
    #main-section {
        margin-left: 0px;
    }
}
@media (min-width: 1024px) {
    #hero-banner {
        background-attachment: fixed;
    }
}
@media only screen and (max-width: 767px) {
    .mobile-nav-active {
        #header {
            left: 0;
        }
    }
    #hero-banner {
        width: auto;
        height: auto;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        h1 {
            font-size: 1.6rem;
            line-height: 36px;
        }
        p {
            font-size: 1rem;
        }
    }
    .about-wrapper {
        h3 {
            margin-top: 20px;
        }
    }
    .rating-wrapper {
        .rating-form-container {
            h4 {
                font-size: 2rem;
            }
        }
        .form-layout {
            width: 90%;
            h5 {
                font-size: 1rem;
                letter-spacing: 0px;
            }
            p {
                font-size: 0.95rem;
            }
        }
        .rating-form {
            .rating-flx {
                .rate-left {
                    display: none;
                }
                .rating {
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin: 0px;
                }
                .rate-right {
                    display: none;
                }
            }
        }
    }
}